body {
    margin: 0;
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    height: 100vh;
}

.left-column {
    width: 80%;
    background-color: black;
    color: whitesmoke;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.right-column {
    width: 20%;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.project-card {
    background-color: #333;
    color: whitesmoke;
    padding: 1rem;
    border-radius: 8px;
    margin-right: 1rem;
    flex: 1;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer {
    text-align: center;
    background-color: black;
    color: whitesmoke;
    padding: 0.5rem;
}